.projects-section-outer {
  width: 100vw;
  padding-bottom: 80px;
	padding-top: 12vh;
}

.projects-section-outer-top {
	margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.projects-section-outer h2 {
  text-align: center;
  font-size: 50px;
  color: var(--background);
}

.projects-section-outer-top svg {
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.projects-section-outer-top svg:hover {
  transform: scale(1.2);
}

.projects-outer {
	margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
	width: 100vw;
  overflow: hidden;
  display: grid;
  padding-left: 50px;
  padding-right: 50px;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  gap: 50px;
}

.project-card-outer {
  display: flex;
  height: 340px;
  padding: 20px;
  /* background: linear-gradient(-45deg, color-mix(in srgb, var(--accent) 5%, transparent), #ffffff10); */
  /* border: 2px solid black; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.234);
  gap: 20px;
  color: var(--background);
  align-items: center;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.project-card-outer:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 0 var(--accent), -2px -2px 0 var(--primary);
}

.project-card-outer > img {
  height: 200px;
  aspect-ratio: 1/1;
  width: auto;
  border-radius: 10px;
}

.project-card-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.project-card-content-top {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 10px;
}

.project-card-content-top h3 {
  color: var(--background);
  cursor: pointer;
  font-size: 40px;
}

.project-card-content-top a:first-child {
  pointer-events: none;
}

.project-card-content-top a.hover-style:hover {
  text-decoration: underline;
}

.project-card-content-top a.hover-style {
  pointer-events: all;
  color: var(--background);
}

.project-card-content-top a {
  text-decoration: none;
}

.project-card-content p {
  font-weight: 400;
  font-size: 18px;
  opacity: 0.8;
}

.project-card-content-top a:last-child {
  height: 50px;
}

.project-card-content svg {
  height: 50px;
  fill: #fff;
}

.project-card-tech {
  display: flex;
  height: 40px;
  gap: 10px;
}

.project-card-tech-outer {
  display: flex;
  height: 40px;
  width: 40px;
  flex-direction: column;
  align-items: center;
}

.project-card-tech-outer > h6 {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  font-weight: 400;
  display: none;
  text-wrap: nowrap;
  color: var(--background);
}

.project-card-tech-outer:hover h6 {
  display: block;
}

.project-card-tech-outer > img {
  height: 40px;
  width: 40px;
  filter: drop-shadow(1px 1px 0 var(--text)) drop-shadow(-1px -1px 0 var(--text));
}

.projects-dialog-outer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #0000003d;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  top: 0;
  left: 0;
}

.projects-dialog {
  height: 600px;
  width: 500px;
  border-radius: 30px;
  border: 2px solid var(--background);
  background-color: rgba(0, 0, 0, 0.753);
  padding: 30px;
}

.projects-dialog h4 {
  color: var(--background);
  font-size: 30px;
  margin-bottom: 30px;
}

.projects-dialog-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--background);
  font-size: 25px;
  margin-bottom: 10px;
}

.projects-dialog-input input {
  height: 35px;
  width: 35px;
  color: var(--text);
  border: 2px solid var(--text);
  background: none;
  background-color: var(--background);
  border-radius: 5px;
  accent-color: var(--primary);
}

.projects-dialog-input input:focus {
  outline: none;
  box-shadow: none;
}

.projects-dialog-input input:checked {
  transform: scale(0.7);
}

.projects-dialog button {
  margin-top: 40px;
  height: 50px;
  width: 100px;
  border-radius: 20px;
  border: none;
  font-size: 25px;
  transition: transform 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-dialog button:hover {
  transform: scale(1.2);
}