.contact-section-outer {
  width: 100vw;
  padding: 100px;
}

.contact-section-outer h3 {
  font-size: 50px;
  font-weight: 400;
  color: var(--background);
  border-bottom: 2px solid var(--background);
  padding-bottom: 10px;
  margin-bottom: 80px;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.contact-content-bottom {
  display: flex;
  gap: 80px;
}

.contact-point {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  text-decoration: none;
}

.contact-point img {
  height: 45px;
  width: 45px;
  transition: filter 0.2s ease-in-out;
}

.contact-point h4 {
  font-size: 25px;
  color: var(--background);
  transition: text-decoration 0.2s ease-in-out;
}

.contact-point h4:hover {
  text-decoration: underline;
}

.contact-point h4:hover + img  {
  filter: drop-shadow(1px 1px 0 var(--accent)) drop-shadow(-1px -1px 0 var(--primary));
}

.contact-content h5 {
  grid-row: 1/2;
  grid-column: 1/2;
  font-size: 100px;
  font-weight: 700;
  color: var(--background);
  text-align: right;
  letter-spacing: 2px;
}

.contact-content-top {
  display: flex;
  gap: 20px;
  align-items: center;
}

.contact-content-top form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
  border-left: 2px solid var(--background);
}

.contact-content-top form input, .contact-content-top form textarea {
  background-color: var(--text);
  border: 1px solid var(--background);
  border-radius: 5px;
  color: var(--background);
  padding: 10px;
  font-size: 20px;
  transition: box-shadow 0.2s ease-in-out;
}

.contact-content-top form input {
  height: 70px;
}

.contact-content-top form input:hover, .contact-content-top form textarea:hover {
  box-shadow: 1px 1px 0 var(--accent), -1px -1px 0 var(--primary);
}

.contact-content-top form textarea {
  height: 28vh;
  width: 600px;
}

.contact-content-top button {
  width: 150px;
  aspect-ratio: 5/2;
  font-size: 25px;
  font-weight: 600;
  color: var(--text);
  background-color: var(--background);
  border: none;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.contact-content-top button:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 0 var(--accent);
}