.navbar-outer {
  background-color: var(--text);
  display: flex;
  padding-left: 2%;
  padding-right: 2%;
  height: 10vh;
  border-bottom: 2px solid var(--accent);
  align-items: center;
  gap: 30px;
  margin-bottom: 0;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

.navbar-outer h2 {
  color: var(--background);
	font-weight: 400;
	font-size: 40px;
  cursor: default;
  transition: transform 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
  margin-right: auto;
}

.navbar-outer h2.shadow:hover {
  transform: scale(1.1);
  text-shadow: 1px 1px 0 var(--accent);
}

.navbar-outer > button.scroll-button {
  font-size: 22px;
  background: none;
  border: none;
  color: var(--background);
  transition: transform 0.2s ease-in-out;
}

.navbar-outer > button.scroll-button:hover {
  transform: scale(1.2);
}